body {
  margin: 0;
  padding: 0;
 font-family: 'Open Sans', sans-serif!important;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* .rpv-core__inner-pages {
  overflow: visible!important;
}

.rpv-core__inner-container {

  height: auto!important;
}

.rpv-core__page-layer {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: visible;
  position: relative;
  margin-bottom: 21px!important;

}

.rpv-core__inner-page {
  
}

.rpv-core__inner-container {

  height: auto!important;
}

.rpv-core__page-layer {
  align-items: center;
  display: flex;
  justify-content: center;
  overflow: visible;
  position: relative;

}
.rpv-core__page-layer::after {
  content: "";
  position: absolute;
  bottom: 0.25rem;
  left: 0.25rem;
  right: 0.25rem;
  top: 0.25rem;
 
  margin-bottom: 7px;
} */

/* Add your custom styles here */

.pdf-viewer-container-5 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* You can add more styles based on your requirements */
.rpv-thumbnail__container{
display: none;
}

.rpv-default-layout__sidebar-tabs {
  /* display: flex; */
  display: none;
}
.rpv-default-layout__sidebar .rpv-default-layout__sidebar--opened .rpv-default-layout__sidebar--ltr{
display: none;
}
.rpv-default-layout__sidebar-headers{

  display: flex;
}

.rpv-toolbar{

  display: flex;
}

.rpv-thumbnail__label{
  display: none;

}   



.rpv-toolbar {
  width: 64%;
  margin-bottom: 9px;
}
.rpv-toolbar__left {
  display: none;
}

.rpv-toolbar__item{

  display: flex;
}

.rpv-page-navigation__current-page-input{
  margin-left: 1px;
    margin-right: 10px;
    width: 44%;
    display: inline-block;
}
.rpv-core__textbox {
  background-color: var(--rpv-core__textbox-background-color);
  border: 1px solid var(--rpv-core__textbox-border-color);
  box-sizing: border-box;
  border-radius: 0.25rem;
  color: var(--rpv-core__textbox-color);
  padding: 0 0.5rem;
  height: 2rem;
  width: 100%;
}


.rpv-toolbar__center{
  display: flex;
  margin-left: 47px;
  position: fixed;
  /* background-color: yellow; */
  z-index: 30;
  left: 272px;
  font-size: 15px;

}



.rpv-toolbar__right{
  display: flex;
  margin-left: 141px;
  position: absolute;

}

.rpv-open__input-wrapper{
  display: none;
}
.rpv-core__minimal-button[data-testid="get-file__download-button"],
.rpv-core__minimal-button[data-testid="print__button"] {
  display: none;
}

.rpv-core__inner-page {
  background-color: #fff0!important;
}


.rpv-core__inner-pages {
  overflow: auto;
  margin-top: 41px!important;
}


/* #html5qr-code-full-region__scan_region{
width: 500%!important;
} */


#html5qr-code-full-region {
  border: 0px !important;
}

#html5qr-code-full-region img {
 display: none;
}

#html5qr-code-full-region__scan_region > video:nth-child(2) {
  display: none!important;
}

/* #html5qr-code-full-region__dashboard_section{
  display: none!important;
} */

/* #html5qr-code-full-region__dashboard{
  display: none!important;
}  */

/* #html5qr-code-full-region__dashboard_section{
  display: none!important;
}  */ 

/* #html5qr-code-full-region__dashboard_section_csr{
  display: none!important;
} */

#html5-qrcode-anchor-scan-type-change{
  display: none!important;
}

#html5-qrcode-private-filescan-input{
  display: none!important; 
}

#html5-qrcode-button-camera-permission {
  color: transparent;
  width: 33%!important;
  padding: 0px!important;
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* Show the replacement text */
#html5-qrcode-button-camera-permission::before {
  content: "Scan now";
  color: black; 
  width: 20%!important;/* Adjust color as needed */
}


#html5qr-code-full-region .html5-qrcode-camera-select {
  display: none;
}





/* .html5-qrcode-element{
  display: none!important;  
} */

#html5-qrcode-select-camera{
  display: none!important;   
}


#html5-qrcode-button-camera-start{
  display: none!important;  
}

#html5-qrcode-button-camera-start{
  display: none!important;  
}


#html5-qrcode-button-camera-stop{
  display: none!important;
}
#html5-qrcode-button-camera-stop{
  display: none!important;  
}
